* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.calc-body {
    width: 400px;
    height: 500px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    background-color: #111111;
}

.result {
    border: 1px solid;
    height: 100px;
    margin: 10px;
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    border-radius: 10%;
    background-color: #90827b;
}

.digits {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.digits-row {
    display: flex;
    flex: 1;
}

button {
    flex: 1;
    border-radius: 10%;
}

.top3 {
    background-color: #009adc;
}

.top3:hover {
    background-color: #00dcdc;
}

.number,
#numberDot {
    background-color: #0c567d;
}

.number:hover,
#numberDot:hover {
    background-color: #0e6c9e;
}

.operator,
#numberResult {
    background-color: #fd9619e0;
}

.operator:hover,
#numberResult:hover {
    background-color: #f1bc0bf1;
}

.clicked {
    background-color: aqua;
}

button#number0 {
    flex: 2;
}